
<div class="form-group">
  <form class="jumbotron">

  <div *ngIf="noLog">
    <h3 >login</h3>
      <div>
        <label for="username">Username:</label>
        <input name="username" #Username class="form-control">
      </div>

      <div>
        <label for="password">password:</label>
        <input name="password" #Password class="form-control">
      </div>
    <button (click)="addUnit(Username,Password)"class="btn btn-primary">
      login
      </button>
  </div>
    <div *ngIf="al"><app-home-decisione></app-home-decisione></div>
    </form>


</div>
